#terms-and-conditions-modal{:class => 'reveal-modal xlarge'}
  %h4 Home and Away Promotion
  %h5 Terms and Conditions
  %h6 THESE TERMS AND CONDITIONS APPLY TO AND GOVERN YOUR PARTICIPATION IN THE HOME AND AWAY (“PROMOTION”).

  %p
    YOU MUST BE 18 OR OVER TO ENTER THE PROMOTION. IF YOU ARE RESIDENT IN KENYA, YOUR PARTICIPATION IN THE PROMOTION WILL BE GOVERNED BY THESE TERMS AND CONDITIONS. IT IS IMPORTANT THAT YOU READ AND UNDERSTAND OUR TERMS AND CONDITIONS AS ANY PARTICIPATION IN THE PROMOTION SHALL INDICATE THAT YOU ACCEPT THESE TERMS AND CONDITIONS. IF YOU DO NOT AGREE WITH THESE TERMS AND CONDITIONS, DO NOT ENTER THE PROMOTION.

  .terms.twelve.columns
    %ul
      %li The organizer of the promotion is Western Union Financial Services Inc., (Address).
      %li The Promotion is open to Kenyans studying outside of Kenya and who receive money from Kenya through Western Union. Eligible winners must be Kenya citizens.
      %li The promotion will run from (insert start date) to (Insert end date).
      %li Participants must be at least 18years of age. Western Union reserves the right to require participants to prove that they are eligible. Employees of Ogilvy Kenya, Western Union and Western Union agents are not eligible to take part.
      %li
        The promotion mechanics are as follows:
        %ol
          %li One enters the promotion by submitting such details as name, email address, Phone number (optional) and proof of use of western union (Used MTCN ID)
          %li	Nominate a loved one in Kenya to win Kshs. 5,000
          %li	Submit a story of your experience outside Kenya and how Western Union has helped make life better.
          %li	Share with friends to vote for you.
          %li	Story with the most votes wins the nominee the prize money
      %li Western Union will not be held responsible for entries not received in the event that the entrants do not successfully complete the entry mechanism supplied.
      %li	Western Union reserves the right to require participants to provide proof of use of Western Union money transfer services.
      %li	The prizes for this promotion include Kshs 5,000 every weekday over a period of 4weeks.  Each winner will picked on a voting based system. In the event more than one entrant receives the same number of votes then Western Union will decide on the final winner.
      %li	The winners will be notified via Telephone, e-mail communication and digital media.
      %li	The winners grant permission for the use of their name and photographs in any advertising and promotional material or digital media for this promotion without claim to compensation.
      %li	All entries must be original and must not infringe the copyright or other intellectual property rights of any third party.  All entries become the absolute entry of the Promoter and will not be returned.  By entering into the Promotion, participants hereby grant the Promoter an irrevocable, transferable, royalty-free world-wide license of all copyright and other intellectual property rights in their entry and hereby waive all moral rights in the entry.   The Promoter shall be entitled (but not obliged) to use any entry submitted to this competition in any form for all purposes and in all media and to adapt or use the entries in any way in future throughout the world.
      %li	By participating in this promotion, you agree to hold Western Union free of any and all losses, damages, rights, claims, and actions of any kind.
      %li	All decisions of Western Union in relation to this promotion are final in all matters and Western Union employees will not enter into any correspondence with participants other than the winners.
      %li	In the event that a particular winner cannot be reached, Western Union reserves the right to disqualify this winner and replace him/her with another.
      %li	In the event of unforeseen circumstances, or circumstances outside the organiser’s control, Western Union reserves the right to offer an alternative prize of equal or greater value.
      %li	By participating in this promotion, all entrants agree to be bound by these terms and conditions and understand that the promotion’s results are final in all aspects.
  %a.accept.button.radius
    I accept
  %a.close-reveal-modal
    &#215;