= render :partial => "shared/nav"
.container.yellow
  .row.spacer
  .row.main.rounded
    .twelve.columns
      %h4.subheader.subtitle Most Recent Stories
  .row.main
    = will_paginate @stories, :page_links => false, :previous_label => "", :next_label => "", :container => false, :params => { :controller => "stories", :action => "index" }
    .twelve.columns
      - if @stories and !@stories.empty?
        %ul.block-grid.three-up.mobile-one-up
          - @stories.each do |msg|
            %li
              = render :partial => "shared/story", :locals => { :msg => msg }

  - if current_user
    .show-for-small.four.columns
      = render :partial => "shared/sidebar_share_story"