= render :partial => "shared/nav"
.container.yellow
  .row.spacer
  .row.main.rounded
    %br
  .row.main
    .twelve.columns
      %h4.subheader Western Union Kenya Rates
  .row.main
    .twelve.columns
      %table.twelve
        %thead
          %tr
            %th
              Amount (Kshs)
            %th
              Fee (Kshs)
        %tbody
          %tr
            %td
              0 - 8000
            %td
              400
          %tr
            %td
              8,001 - 16,000
            %td
              800
          %tr
            %td
              16,001 - 24,000
            %td
              1000
          %tr
            %td
              24,001 - 32,000
            %td
              1600
          %tr
            %td
              32,001 - 48,000
            %td
              2,000
          %tr
            %td
              48,001 - 64,000
            %td
              2,400
          %tr
            %td
              64,001 - 80,000
            %td
              3,200
          %tr
            %td
              80,001 - 96,000
            %td
              4,000
          %tr
            %td
              96,001 - 160,000
            %td
              5,600
          %tr
            %td
              160,001 - 200,000
            %td
              7,200
          %tr
            %td
              200,001 - 400,000
            %td
              11,200
          %tr
            %td
              400,001 - 600,000
            %td
              16,000
          %tr
            %td
              600,001 - 800,000
            %td
              20,000
          %tr
            %td
              800,001 -
            %td
              2%