// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: black;
  height: 180px;
  width: 100%;
  border-bottom: 5px solid #ffdd00;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 10000;
  padding-top: 10px;
}

.logo {
  background-image: url(/assets/logo.jpg);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  height: 52px;
  width: 291px;
}

.tagline {
  padding-top: 30px;
  font-weight: 600;
  display: block;
}

.cta-share {
  color: #ffdd00;
  display: block;
  padding-top: 45px;
  font-size: 18px;
}

.login-or-register, .nominate-your-hero {
  background-color: #ffdd00;
  height: 300px;
  position: absolute;
  width: 100%;
  top: -300px;
}

.icon-holder {
  position: absolute;
  top: 300px;
  width: 100%;
}

a.icon-drop-down, a.icon-drop-down-nominate {
  display: block;
  width: 82px;
  height: 30px;
  background: url('/assets/icons-drop-down.png') no-repeat;
  background-position: 0 -30px;
  margin: auto;
}

a.icon-drop-down:hover, a.icon-drop-down-nominate:hover {
  background-position:0px 0px;
  cursor: pointer;
}

.promo {
  background-image:radial-gradient(rgba(80,0,0,0.1) 0%, rgba(80,0,0,0.2) 30%, rgba(21,11,1,0.9) 100% );
  background-image:-webkit-radial-gradient(rgba(80,0,0,0.1) 0%, rgba(80,0,0,0.2) 30%, rgba(21,11,1,0.9) 100% );
  background-image:-moz-radial-gradient(rgba(80,0,0,0.1) 0%, rgba(80,0,0,0.2) 30%, rgba(21,11,1,0.9) 100% );
  height: 300px;
  position: relative;
}

.body {
  background-color: #ffffff;
}

p.summary {
  color: #707070;
  font-size: 20px;
  margin-bottom: 0px;
}

.yellow {
  background-image: url('/assets/yellow-bg-repeat.jpg');
  background-repeat: repeat-x;
  min-height: 600px;
}

.spacer {
  height: 20px;
}

.main {
  background-color: #ffffff;
}

.story {
  border: 1px solid #dedede;
  min-height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.story-header {
  color: #707070;
}

.story-text {
  min-height: 50px;
}

.location {
  margin-top: -15px;
}

.name {
  margin-top: 15px;
}

.votes {
  font-size: 18px;
}

.rounded {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.indicator {
  background-image: url('/assets/yellow-indicator.jpg');
  width: 30px;
  height: 15px;
  position: relative;
  left: 50px;
}

.hidden {
  display: none !important;
}

.share-your-story, .nominate-your-hero {
  padding-top: 10px;
}

.share-your-story p {
  text-align: center;
  padding-top: 10px;
}

.sign-in-with-facebook p {
  text-align: center;
}

.login {
  padding-top: 50px;
}

.recommended {
  padding-top: 20px;
}

.sign-in {
  background-image: url('/assets/sign-in-with-facebook.png');
  display: block;
  width: 223px;
  height: 47px;
  margin: auto;
}

a.next {
  background-image: url('/assets/next.png');
  display: block;
  width: 82px;
  height: 40px;
  margin-top: 95px;
}

a.next:hover {
  cursor: pointer;
}

.spin-holder {
  margin-top: 65px;
  margin-left: 10px;
}

.finish {
  background-image: url('/assets/finish.png');
  display: block;
  width: 95px;
  height: 40px;
  margin-top: 10px;
}

.old-fashioned {
  padding-top: 10px;
}

.old-fashioned p {
  margin-bottom: 5px;
}

.register input, .add-story input, .add-story textarea {
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input.error {
    background-color: rgb(198, 15, 19);
}

.nominate-your-hero p {
  padding-top: 10px;
}

.border-right {
  border-right: 3px solid #a6a8a1;
}

.example .row .column, .example .row .columns {
  background:#eee;
  border: 1px solid #ddd;
}

@media only screen and (max-width: 767px) {
  .indicator {
    background-image: url('/assets/yellow-indicator-vertical.jpg');
    width: 15px;
    height: 30px;
    position: absolute;
    left: -5px;
    top: 5px;
  }

  .cta-share {
    padding-top: 30px;
  }
}
