// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: black;
  height: 180px;
  width: 100%;
  border-bottom: 5px solid #ffdd00;
  color: #ffffff;
  text-align: center;
  position: relative;
  z-index: 5;
  padding-top: 10px;
}

.logo {
  background-image: url(/assets/logo.png);
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  height: 52px;
  width: 291px;
  margin-top: 30px;
}

.tagline {
  padding-top: 10px;
  font-weight: 600;
  display: block;
}

.share-icon {
  background: url(/assets/share-click-here.png) no-repeat;
  width: 240px;
  height: 63px;
  position: absolute;
  top: 12px;
  left: 52%;
}

.login-or-register, .nominate-your-hero {
  background-color: #ffdd00;
  height: 375px;
  position: relative;
  width: 100%;
  top: -375px;
}

.icon-holder {
  position: relative;
  top: -375px;
  z-index: 6;
}

a.icon-drop-down, a.icon-drop-down-nominate {
  display: block;
  width: 82px;
  height: 30px;
  background: url('/assets/icons-drop-down.png') no-repeat;
  background-position: 0 -30px;
  margin: auto;
}

a.icon-drop-down:hover, a.icon-drop-down-nominate:hover {
  background-position:0px 0px;
  cursor: pointer;
}

.promo {
  background: url('/assets/timeline.jpg') center center no-repeat;
  background-color: #110d0e;
  height: 375px;
  position: relative;
}

.timeline {
  border-top: 4px solid #ffffff;
  position: absolute;
  width: 100%;
  top: 90px;
}

.device {
  background-image: url(/assets/timeline-device.png);
  height: 26px;
  width: 26px;
  position: absolute;
  top: 79px;
  left: 45%;
}

.body {
  background-color: #ffffff;
}

p.summary {
  color: #707070;
  font-size: 20px;
  margin-bottom: 0px;
}

.yellow {
  background-image: url('/assets/yellow-bg-repeat.jpg');
  background-repeat: repeat-x;
  min-height: 600px;
}

.spacer {
  height: 20px;
}

.main {
  background-color: #ffffff;
  position: relative;
}

.story {
  border: 1px solid #dedede;
  min-height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.story-header {
  color: #707070;
}

.story-text {
  min-height: 75px;
}

.location {
  margin-top: -15px;
}

.name {
  margin-top: 15px;
}

.votes {
  font-size: 18px;
}

.num-votes {
  background: url('/assets/votes.png') no-repeat;
  padding-left: 30px;
  font-size: 20px;
}

.short-votes {
  margin-top: 0px;
}

.story-title {
  margin-bottom: 2px;
}

.author {
  font-weight: 600;
}

.main h4 {
  margin-top: 0px;
  font-size: 20px;
}

.story-pic {
  float: left;
  margin-right: 5px;
}

.avatar img {
  width: 55px;
  height: 55px
}

.avatar {
  text-align: center
}

.rounded {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.indicator {
  background-image: url('/assets/yellow-indicator.jpg');
  width: 30px;
  height: 15px;
  position: relative;
  left: 50px;
}

.hidden {
  display: none !important;
}

.thank-you {
  background: url(/assets/thank-you.png) center center no-repeat;
  width: 100%;
  height: 225px;
  margin-top: 50px;
  //position: absolute;
}

.thank-you p {
  display: block;
  width: 300px;
  position: absolute;
  left: 56%;
  top: 150px;
  //margin-top: 200px;
}

.share-your-story, .nominate-your-hero {
  padding-top: 10px;
}

.share-your-story p {
  text-align: center;
  padding-top: 10px;
}

.sign-in-with-facebook p {
  text-align: center;
}

.login {
  padding-top: 50px;
}

.recommended {
  padding-top: 20px;
}

.sign-in {
  background-image: url('/assets/sign-in-with-facebook.png');
  display: block;
  width: 223px;
  height: 47px;
  margin: auto;
}

a.next {
  background-image: url('/assets/next.png');
  display: block;
  width: 82px;
  height: 40px;
  margin-top: 95px;
}

a.next:hover {
  cursor: pointer;
}

a.waiting:hover {
  cursor: wait;
}

.spin-holder {
  margin-top: 65px;
  margin-left: 10px;
}

.finish {
  background-image: url('/assets/finish.png');
  display: block;
  width: 95px;
  height: 40px;
  margin-top: 10px;
}

.old-fashioned {
  padding-top: 10px;
}

.old-fashioned p {
  margin-bottom: 5px;
}

.register input, .add-story input, .add-story textarea {
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

input.error {
    background-color: rgb(198, 15, 19);
}

.nominate-your-hero p {
  padding-top: 10px;
}

.logout {
  margin-top: 10px;
  display: block;
}

.border-left {
  border-left: 3px solid #a6a8a1;
}

.vote-here {
  min-height: 42px;
}

.vote-now {
  background: url(/assets/icons-vote.png) no-repeat;
  background-position: 0 0;
  width: 78px;
  height: 28px;
  display: block;
}

.icon-thank-you {
  background-position: 0 -28px;
  height: 31px;
}

a.icon-thank-you:hover {
  cursor: default;
}

.previous_page, .next_page {
  background: url(/assets/pagination.png);
  width: 35px;
  height: 35px;
  position: absolute;
  display: block;
  top: 150px;
}


.previous_page {
  background-position: 0 0;
  left: -25px;
}

.next_page {
  background-position: 0 35px;
  right: -20px;
}

.right {
  background-position: 0 35px;
}

.example .row .column, .example .row .columns {
  background:#eee;
  border: 1px solid #ddd;
}

.terms {
  height: 300px;
  display: block;
  overflow-y: scroll;
  overflow-x: visible;
  background-color: #d3d3d3;
}

.accept {
  margin-top: 10px;
  background-color: #0072c7;
}

#slider {
  height: 280px !important;
}

a.tac, a.logout {
  color: #0072c7;
}

a.tac:hover {
  text-decoration: underline;
  cursor: pointer;
}

p.tac-error {
  color: #ff0000;
  margin-bottom: 10px;
}

a.navigation {
  text-decoration: none;
  color: inherit;
  width: 158px;
  height: 40px;
  display: block;
}

.story-spinner-holder {
  margin-top: -20px;
  margin-left: 35px;
}

a.navigation:hover {
  cursor: pointer;
  background: url('/assets/yellow-indicator.jpg') no-repeat center bottom;
}

@media only screen and (max-width: 767px) {
  .indicator {
    background-image: url('/assets/yellow-indicator-vertical.jpg');
    width: 15px;
    height: 30px;
    position: absolute;
    left: -5px;
    top: 5px;
  }

  .border-left {
    border-left: none;
  }
}
